

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-comp{
  background-color: aquamarine;
  padding-top: 20px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-size: cover;
  padding-bottom: 30px;
}
.main-head{
  font-family: Roboto;
  text-align: center;
  color: chocolate;
}
